body{
  background-color: #256D85;
}
p,h1,h2,h3,h4,ul {
  font-family: Jost, sans-serif;
  color: #DFF6FF;
}
h1, h3{
  text-underline-offset: 0.09em;
  text-decoration: underline;
  text-align: center;
  position: relative;
}
h4{
  text-align: center;
}
h2{
  font-size: 1em;
  text-align: center;
  margin: 0;
  position: relative;
  top:-1.2em;
  color: #d1cfcf;
}
#nav{
  list-style-type: none;
  text-align: center;
  background-color: #06283D;
  margin:0;
  padding: 0;
  position: relative;
  width: 28em;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  font-size: 1em;
  border-radius: 0 0 0.5em 0.5em;
}
.alg p, .alg h4{
  font-family: monospace;
  text-align: center;
}
.alg h4{
  font-size: 1.5em;
}
li{
  list-style-type: none;
}
#nav li{
    display: inline-block;
}
#resumebody ul{
  background-color: #2b819e;
  width: 24em;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
}
#mainphoto{
  border-radius: 0.75em 0 0 0.75em;
  position: fixed;
  right: 0%;
  top: 0%;
  width: 25%;
  max-width: 400px;
}
#resumebody{
  position: relative;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: lower-roman;
}
#nav li{
  padding: 0.25em;
}
.middle{
  border-right: 0.1em solid #47B5FF;
}
a{
  text-decoration: none;
  color: #47B5FF;
}
#pictures{
  position: relative;
  text-align: center;
}
#pictures p{
  width: 38em;
  margin-left: auto;
  margin-right: auto;
}
.alg{
  width: 6em;
  height: 10em;
  margin:0;
  padding: 2.5em 1.5%;
  float: left;
}
#pictures img{
  width: 40em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75em;
  padding: 0.25em;
}
#video{
  width: 612px;
  margin-left: auto;
  margin-right: auto;
}
#video h3{
  text-decoration: none;
}
.alg img{
  width: 6.5em;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  width: 38em;
  height: 28em;
  position: relative;
}
#alggrid{
  padding: 0;
  margin: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#algorithms{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#algorithms h3{
  text-decoration: none;
}
#algorithms p{
  text-align: center;
}
